<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="WWPlatform" connectionString="data source=localhost;initial catalog=wwplatform;user id=sa;password=sa;Persist Security Info=True" />
  </connectionStrings>
  <!--<system.net>
    <defaultProxy useDefaultCredentials="true">
      <proxy usesystemdefault="False" bypassonlocal="True" proxyaddress="http://wsdcbpisa02.chn.mkcorp.com" />
    </defaultProxy>
  </system.net>-->
</configuration>
